#JSMgr{margin:15px;}
#JSMgr table{width:100%}
#JSMgr table th{padding:5px}
#JSMgr table th,#JSMgr table tr:nth-child(even){background-color:#ededed;}
#JSMgr button{border:1px solid #ccc;background-color:#ededed;}
.ui-widget-overlay{background-color:#000;opacity:.7}