/* dashboard lanes */
div.dashboard{width:100%;}
div.dashboard ul{float:left;list-style:none outside none;padding:.3%;min-height:30px;}
/* fix dashboard panels */
div.dashboard div.panel{margin-bottom:0;}
div.dashboard div.panel-heading a{font-weight:900;text-decoration:none;color:#fff;}
div.dashboard li.ui-sortable-handle{margin-bottom:20px;}