html,body{height:100%;min-height:100%;}

/* top menu */
.navbar-brand{font-size:1.2em;}
.navbar{padding:.5rem 1rem;} /* fix for some Bootswatch themes */
a.nav-item{padding:3px 15px;}
#navbarMainContent{margin-left:50px;}

/* main content */
html body div.container-fluid.h-100{margin-top:56px}
#contents{margin-bottom:50px;}

/* dark backdrop for session timed out modal */
.modal-backdrop.show{opacity:.7 !important;background-color:#00;}

/* detached buttons */
ol.breadcrumb{padding-left:18.5rem;}

*[aria-hidden=true]{display:none;}

/* breadcrumb */
ul.breadcrumb{list-style:none;display:block;border-radius:0;margin:auto -15px 15px -15px;}
ul.breadcrumb li{display:inline-block;}
ul.breadcrumb li a{color:#FFF;display:block;background:#3498db;text-decoration:none;position:relative;height:40px;line-height:40px;padding:0 10px 0 5px;text-align:center;margin-right:18px;}
ul.breadcrumb li:nth-child(even) a{background-color:#2980b9;}
ul.breadcrumb li:nth-child(even) a:before{border-color:#2980b9;border-left-color:transparent;}
ul.breadcrumb li:nth-child(even) a:after{border-left-color:#2980b9;}
ul.breadcrumb li:first-child a{padding-left:15px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px;border-radius:4px 0 0 4px;}
ul.breadcrumb li:first-child a:before{border:none;}
ul.breadcrumb li:last-child a{padding-right:15px;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0;border-radius:0 4px 4px 0;}
ul.breadcrumb li:last-child a:after{border:none;}
ul.breadcrumb li a:before, ul.breadcrumb li a:after{content:"";position:absolute;top:0;border:0 solid #3498db;border-width:20px 10px;width:0;height:0;}
ul.breadcrumb li a:before{left:-20px;border-left-color:transparent;}
ul.breadcrumb li a:after{left:100%;border-color:transparent;border-left-color:#3498db;}
ul.breadcrumb li a:hover{background-color: #1abc9c;}
ul.breadcrumb li a:hover:before{border-color:#1abc9c;border-left-color:transparent;}
ul.breadcrumb li a:hover:after{border-left-color:#1abc9c;}
ul.breadcrumb li a:active{background-color:#16a085;}
ul.breadcrumb li a:active:before{border-color:#16a085;border-left-color:transparent;}
ul.breadcrumb li a:active:after{border-left-color:#16a085;}

/* margin for tablist */
ul[role="tablist"]{margin-bottom:15px;}

/* form buttons */
.buttonline{border-top:1px solid #ccc;padding:5px;background-color:#f5f5f5;}

.cke_button_label.cke_button__inlinesave{color: #c00;}
.cke_button_label.cke_button__inlinesave_label{display:inline;}
.cke_button__inlinesave_icon{color:blue !important}

div.form-group.form-row div.form-check.form-check-inline.enum:not(:last-child){border-right:1px solid #ccc;margin-right:5px;padding-right:5px}

/* modals */
.modal-header h1{font-size:1.5rem;}
.modal-body h2{font-size:1.2rem;}

/* top nav */
#navbarMainContent{color:rgba(255,255,255,.75)}
#navbarMainContent li a.nav-link{display:inline}
#navbarMainContent li a.nav-link.dropdown-item{color:#000}
#navbarMainContent li a.nav-link.dropdown-item.active{color:#000;background-color:#fff}
#navbarMainContent li a.nav-link::before{font-family:"FontAwesome";padding-right:3px}
#navbarMainContent li#area24 a.nav-link::before{content:"\f085";}
#navbarMainContent li#area5 a.nav-link::before,.fa-module:before{content:"\f12e"}
#navbarMainContent li#area6 a.nav-link::before{content:"\f0ad";}
#navbarMainContent li#area3 a.nav-link::before{content:"\f1c8";}
#navbarMainContent li#area25 a.nav-link::before{content:"\f0c5";}
#navbarMainContent li#area1 a.nav-link::before{content:"\f0e4";}

/* Font Awesome Aliases */

.fa-datetime:before{content:"\f017";}
.fa-deleted:before{content:"\f014";}
.fa-draft:before{content:"\f2c3";}
.fa-groups:before{content:"\f0c0";}
.fa-headers:before{content:"\f0ac";}
.fa-hidden:before{content:"\f070";}
.fa-language:before{content:"\f086";}
.fa-library:before{content:"\f02d";}
.fa-mail:before{content:"\f0e0";}
.fa-none:before{content:"\f05e"}
.fa-page:before{content:"\f12e"}
.fa-pages:before{content:"\f0c5";}
.fa-permissions:before{content:"\f084";}
.fa-private:before{content:"\f084";}
.fa-public:before{content:"\f06e";}
.fa-roles:before{content:"\f02e";}
.fa-settings:before{content:"\f085";}
.fa-template:before{content:"\f03e";}
.fa-theme:before{content:"\f26c"}
.fa-tool:before{content:"\f0ad"}
.fa-users:before{content:"\f183";}
.fa-wysiwyg:before{content:"\f2c3"}

/* fix for Boostrap v4: Multilevel Sub Menu for top navbar */
.dropdown-submenu{position:relative;}
.dropdown-submenu a::after{transform:rotate(-90deg);position:absolute;right:3px;top:40%;}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{display:flex;flex-direction:column;position:absolute !important;margin-top:-30px;left:100%;}
@media (max-width: 992px) { .dropdown-menu{width: 50%;} .dropdown-menu .dropdown-submenu{width: auto;} }

/* color change for session timeout counter */
div#sessiontimer.sesstimealert{-webkit-animation:colorchange .2s infinite alternate;}
@-webkit-keyframes colorchange {0% {color:#f00;} 50% {color:white} }

/* draggable panels with left icon bar for page modification */
ul.draggable-card{list-style:none outside none;padding-left:0;}
div.pos-r{position:relative;}
div.card-icon-wrapper{position:absolute;bottom:0;left:0;margin-left:0;z-index:99;height:100%;width:48px;border-right:1px solid #ccc;border-bottom-left-radius:4px;}
div.card-content,div.card-footer{margin-left:35px;}

/* edit page icons */
li.card div.card-body.pos-r div.card-icon-wrapper ul.nav.nav-left li span.fa{display:block;padding:10px 15px;color:#337ab7;}

/* fancytree */
ul.fancytree-container{border:0 !important}
span.fancytree-active span.fancytree-title, span.fancytree-selected span.fancytree-title {
    background-color: transparent !important;
    color: #000 !important;
    font-weight: 700;
}

.mt50{margin-top:50px !important;}


.main .page-header {
  margin-top: 0;
}



/* https://bootsnipp.com/snippets/gv6Pe */
.custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer;
}
  .custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none;
  }
    .custom-checkbox .custom-control-indicator:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #f1f1f1;
      border-radius: 21px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
      left: -2px;
      top: -4px;
      -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
      transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-image: none;
    box-shadow: none !important;
  }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
      left: 15px;
    }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
  }